<h1>New Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>
<%# by default on submit it goes to same path so we add url: property %>
<%= form_with scope: :article,url: articles_path, local: true do |form|%>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit%>
  </p>
<%end%>
<%= link_to 'Back', articles_path%>
